.weathercontainer {
    width: 100vw;
    height: 100vh;
    background-repeat:no-repeat;
    background-size:100vw 100vh;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.temp{
    position: absolute;
    bottom: 80px;
    left: 40px;
    width: 48vw;

}
.citytemp{
    display: flex;
    gap: 10px;
    align-items: end;
}

.citytemp h1 {
    margin: 0;
    font-size: 100px;
    font-weight: 400;
}
.citydata{
    display: flex;
    align-items: end;
}

.citydata h2,p{
    margin: 0;
}
.citydata h2{
    font-size: 45px;
    font-weight: 400;
}

.weatherdetails{
    width: 400px;
    height: 85vh;
    backdrop-filter:blur(20px);
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 30px 0 28px 50px;
    border-radius: 20px;
}
.weatherdetails p{
    font-size: 18px; 
   
}
.weatherdetails h4{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;

}
.weathers{
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;
}
.weathers p{
    color: #ffffff9a;
}
.weathers b{
    width: 70px;
    color: #fff;
    font-weight: 400;
}
.weathers span{
    width: 160px;
    display: flex;
    gap: 20px;
}
._3hoursfrocast{
    display: flex;
    gap: 20px;
    overflow: scroll;
    scrollbar-width: none;
    width: 374px;
    height: 150px;
}
.Hourlydata p{
    font-size: 20px;
    margin-bottom:5px
}
.Hourlydata{
    width: 70px;
    text-align: center;
}
@media (max-width:1024px){
    .citytemp{
        display: block;
    }
}

@media (max-width:950px){
    .temp{
        position: absolute;
        top: 80px;
        left: 40px;
        width: 48vw;
    }
    .weatherdetails{
        height: 55vh;
        bottom: 20px;
        top: inherit;
        
    }
    
}
    


@media (max-width:450px){

    .temp{
        top: 25px;
    }
    .citytemp{
        display: inline;
    }
    .citytemp h1{
        font-size: 55px;
    }
    .citydata h2{
        width: 210px;
        font-size: 35px;
    }
    .citydata p{
        font-size: 15px;
    }
    .weatherdetails{
        /* height: 65vh; */
        height: calc(80vh - 150px);
        width: 81vw;
        padding: 10px 0 20px 20px;
        margin: 0 auto;
    }
    .weathers{
        margin: 10px 15px;
    }
    .weatherdetails h4{
        margin: 17px 0;
    }
    .weathers span {
        width: 117px;
        display: flex;
        gap: 25px;
    }
    ._3hoursfrocast{
        width: 280px;
        height: 125px;
    }
    .Hourlydata p{
        font-size: 15px;
        margin-bottom:5px
    }

}
@media (max-width:600px){

    
    .weatherdetails{
        height: 75vh;
        width: 81vw;
        padding: 10px 0 20px 20px;
        margin: 0 auto;
    }
}